################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Office File Explorer.sln
/.vs/Office File Explorer/v15/.suo
/.vs/Office File Explorer/v15/Server/sqlite3/db.lock
/.vs/Office File Explorer/v15/Server/sqlite3/storage.ide
/.vs/Office File Explorer/v15/Server/sqlite3/storage.ide-wal
/.vs/Office File Explorer/v15/Server/sqlite3/storage.ide-shm
/.vs/Office File Explorer/v16/Server/sqlite3
/.vs/Office File Explorer/v16/.suo
obj/Debug/Office File Explorer.csproj.CoreCompileInputs.cache
obj/Debug/Office File Explorer.csprojAssemblyReference.cache
*.cache
bin/Debug/app.publish/Office File Explorer.exe
bin/Debug/app.publish/Office File Explorer.exe
obj/Debug/Office File Explorer.pdb
obj/Debug/Office File Explorer.exe.manifest
obj/Debug/Office File Explorer.exe
obj/Debug/Office File Explorer.csprojAssemblyReference.cache
obj/Debug/Office File Explorer.csproj.GenerateResource.cache
obj/Debug/Office File Explorer.csproj.CoreCompileInputs.cache
obj/Debug/Office File Explorer.application
bin/Debug/Office File Explorer.pdb
bin/Debug/Office File Explorer.exe.manifest
bin/Debug/Office File Explorer.exe
bin/Debug/Office File Explorer.application
*.exe
*.application
*.pdb
bin/Debug/app.publish/Office File Explorer.exe
*.manifest
bin/Debug/app.publish/Office File Explorer.exe
bin/Debug/app.publish/Office File Explorer.exe
bin/Debug/Office File Explorer.application
obj/Debug/Office File Explorer.pdb
obj/Debug/Office File Explorer.exe.manifest
obj/Debug/Office File Explorer.exe
obj/Debug/Office File Explorer.application
bin/Debug/Office File Explorer.pdb
bin/Debug/Office File Explorer.exe.manifest
